cmake==3.22.3
giotto-tda==0.5.1
GraphRicciCurvature==0.5.3
gudhi==3.5.0
matplotlib==3.5.1
networkx==2.6.3
numba==0.55.1
numpy==1.21.5
pandas==1.4.0
ripser==0.6.1
scikit-learn==1.0.2
scipy==1.7.3
torch==1.10.2+cu113
torch-geometric==2.0.3
torch-scatter==2.0.9
torch-sparse==0.6.12
tqdm==4.62.3